<div class="position-absolute top-50 start-50 translate-middle text-center">
    <h1 class="display-2">
        Welcome To DevCom
    </h1>
    <h1 class="display-4">
        Your parsonal assistant
    </h1>
    <a class="display-3 my-5" href="#">
        Get Started
    </a>
    <div class="mt-5">
        @Model
    </div>
</div>
